body {background-color:#eeeeee;font-family:verdane;font-size:25px;}
#experiment {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 800px;
  perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 100px auto;
  height: 260px;
  width: 260px;
  
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 2s linear;
  -moz-transform-style: preserve-3d;
  
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
  font-size: 34px;
  font-weight:bold;font-family:verdana;
  line-height: 1em;
  color: #fff;
  border: 0px solid #555;
  border-radius: 3px;
}

#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
  background-color: rgba(255, 0, 0, 0.7);
}

#cube .two {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  transform: translateZ(200px);
    background-color: rgba(255, 255, 0, 0.7);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px);
  background-color: rgba(0, 255, 0, 0.7);
	
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px);
  background-color: rgba(0,0,80,0.7);
  opacity:0.7;
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
  background-color: rgba(0, 255, 255, 0.7);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
      background-color: rgba(255,0, 255, 0.7);
}
#cube {
 
	-webkit-animation:  anim2 ease-in-out 30s infinite alternate;
	margin:0px auto;
}
@-webkit-keyframes anim2 {
		from	{left:0px;-webkit-transform: rotateY(0deg) rotateX(0deg)}
		25% 		{left:0px;-webkit-transform: translateZ(-800px) rotateY(180deg) rotateX(-110deg)}
		50% 		{left:0px;-webkit-transform: translateZ(650px) rotateY(-180deg) rotateX(110deg)}
		75% 		{left:0px;-webkit-transform: translateZ(650px) rotateY(-480deg) rotateX(-500deg)}
		to 		{left:0px;-webkit-transform: translateZ(0px) rotateY(700deg) rotateX(360deg)}
}